@use 'base/variables' as v;
@use 'base/mixins' as m;


.header{
    display: flex;
    flex-direction: column;
    padding: 5rem 2rem;
    align-items: center;

    @include m.escritorio {
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo{
        width: 30rem;
        margin-bottom: 5rem;
        @include m.escritorio {
            margin-bottom: 0;
        }
    }
}